@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  letter-spacing: 2px;
}

body {
  //font-family: 'Poppins', sans-serif;
  font-family: 'Kanit', sans-serif;
}

.svg-1{
  position: absolute;
  bottom: 0;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.wall {
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.hero1 {
  background-color: #061324;
  color: #fff;
}

a.button {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 81, 0) 100%);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 25px;
  border-radius: 25px;
}

h1 {
  font-size: 6vh;
  font-weight: 900;
}

h2 {
  font-size: 4vh;
  font-weight: 800;
}

.divisor {
  width: 20%;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 81, 0) 100%);
  margin: 20px 0;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.600, -0.380, 0.735, 0.045) 2s both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  display: none;
}
